@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
}

html {
  scroll-behavior: smooth;
}

h4,
h1,
li,
a,
button {
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  font-size: 1.6vh;
  color: #ecf0f1;
  text-decoration: none;
}

.container-hero {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  text-align: center;
  color: white;
  font-weight: 700;
}

.container {
  left: 50%;
  overflow: hidden;
  text-align: center;
  color: white;
  font-weight: 700;
}

.container h4 {
  line-height: 3vh;
  text-align: left;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3vh 10%;
  background-color: black;
  top: 0;
  z-index: 100;
  position: fixed;
  width: 100%;
  transition: padding 0.2s linear;
}

footer {
  font-size: 1.5vh;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-align: center;
  color: #9c9c9c;
  padding: 3vh 10%;
}

footer a {
  transition: all 0.3s ease 0s;
}

footer a:hover {
  color: rgb(255, 255, 255, 0.5);
  border-bottom: 1px solid rgb(255, 255, 255, 0.3); /* or whatever colour you'd prefer */
}

.responsive-image {
  max-width: 100%;
  height: auto;
  border-style: solid;
}

.youtube-section {
  display: table;
  margin-left: auto;
  margin-right: auto;
  border-spacing: 2vh;
}

.circle-section {
  display: table;
  margin-left: auto;
  margin-right: auto;
  border-spacing: 5vh;
}

.date-section {
  display: table;
  margin-left: auto;
  margin-right: auto;
}

.thumbnail {
  display: table-cell;
}

.social-button {
  margin-top: 2vh;
  font-size: 1.3vh;
  font-weight: 700;
  letter-spacing: 0.3vh;
  color: black;
  padding: 1vh 3vh;
  background-color: rgba(188, 188, 188, 1);
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.logo {
  cursor: pointer;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.nav__links {
  list-style: none;
}

.nav__links li {
  display: inline-block;
  padding: 0px 2vh;
}

.nav__links li a {
  transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
  color: rgb(255, 255, 255, 0.5);
  border-bottom: 1px solid rgb(255, 255, 255, 0.3); /* or whatever colour you'd prefer */
}

.music-button {
  margin-top: 1vh;
  float: left;
  font-size: 1.3vh;
  font-weight: 700;
  letter-spacing: 0.3vh;
  color: black;
  padding: 1.1vh 3vh;
  background-color: rgba(188, 188, 188, 1);
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button:hover {
  background-color: rgba(188, 188, 188, 0.7);
}

.hero {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background: url(images/shane-rounce-bc0ZslJ5DwY-unsplash-min.png) no-repeat
    center;
  background-size: cover;
}

.music {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background-color: #141414;
}

.socials {
  background-color: #1b1b1b;
  height: 92vh;
}

.container-hero h1 {
  font-size: 4vh;
  font-weight: 900;
  font-style: italic;
  color: black;
  margin-top: 12vh;
  letter-spacing: 0.3em;
}

.container h1 {
  font-size: 3.5vh;
  font-weight: 700;
  color: #9c9c9c;
  margin-top: 11.5vh;
  margin-bottom: 15vh;
  letter-spacing: 0.3em;
}

.container-hero h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 2vh;
  font-weight: 500;
  font-style: italic;
  color: black;
  margin-top: 3vh;
  letter-spacing: 0.15em;
  line-height: 3vh;
}

img {
  width: 40vh;
  height: 25vh;
}

.circle {
  position: relative;
  background: rgb(188, 188, 188, 0.75);
  width: 10vw;
  height: 10vw;
  border-radius: 50%;
  border-style: none;
}

object {
  position: absolute;
  top: 50%;
  bottom: 50%;
  transform: translate(-50%, -50%);
  width: 3vw;
  height: 3vw;
}

@media only screen and (max-width: 1366px) {
  .thumbnail {
    display: block;
  }

  .circle {
    margin: auto;
  }

  .music {
    height: 135vh;
  }

  .music-button {
    float: none;
    margin-bottom: 5vh;
  }

  .social-button {
    margin-bottom: 3vh;
  }

  .container h1 {
    margin-top: 11.5vh;
    margin-bottom: 3vh;
  }

  .socials {
    height: 155vh;
  }
}

header.expand {
  padding: 1.5vh 10%;
}

@media only screen and (max-width: 1150px) {
  .socials {
    height: 145vh;
  }
}

@media only screen and (max-width: 950px) {
  .socials {
    height: 125vh;
  }
}

@media only screen and (max-width: 850px) {
  .socials {
    height: 100vh;
  }

  .circle {
    width: 10vh;
    height: 10vh;
  }

  object {
    width: 4vw;
    height: 4vw;
  }
}

@media only screen and (max-width: 550px) {
  object {
    width: 5vw;
    height: 5vw;
  }
}

@media only screen and (max-width: 365px) {
  object {
    width: 8vw;
    height: 8vw;
  }
}
